name: CI/CD Deploy to EC2 via Helm

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install SSH client
        run: sudo apt-get update && sudo apt-get install -y openssh-client

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/github_ec2
          chmod 600 ~/.ssh/github_ec2
          ssh-keyscan -H 34.226.99.222 >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -i ~/.ssh/github_ec2 ubuntu@34.226.99.222 << 'EOF'
            cd ~/microservice-project
            git fetch origin
            git reset --hard origin/main
            helm upgrade --install my-release ./microservices-chart
          EOF
